@import '../../assets/css/index.styl'

secureFormWidth = 554px

.SecureContainer
  flex 1 1 auto
  flexHorizontal(false)

  .SecureForm
    width secureFormWidth
    background white
    justify-content center
    align-items center
    display flex !important
    flexHorizontal(true)

  .SecureWall
    width 'calc(100vw - %s)' % secureFormWidth
    background grey url('../../assets/images/img_login.jpg') no-repeat
    background-size 1620px 1080px
    background-position 0rem -20rem
    flexHorizontal(true)

    .SecureSoleraLogo
      position absolute
      bottom 2.5rem
      right 1rem
      width 10rem
      height 3.2rem
      background url('../../assets/images/solera.svg') no-repeat
      display flex
