// ENVIRONMENT VARIABLES

primary-color = #F27E20
text-color = #444854
text-color-sub = #6D7881

// SOLERA FLEXBOX SYSTEM
flexVertical(spacer)
  display flex
  display -webkit-box
  display -ms-flexbox
  flex-direction column
  -webkit-box-orient vertical
  -webkit-box-direction normal
  if spacer
    flex 1
    overflow hidden
    min-height 1px


flexHorizontal(spacer)
  display flex
  display -webkit-box
  display -ms-flexbox
  flex-direction row
  -webkit-box-orient horizontal
  -ms-flex-direction row
  -webkit-box-direction normal
  if spacer
    flex 1
    overflow hidden
