@import '../../../assets/css/index.styl'

.Form
  width 100%
  height 100%
  padding 0 6rem 0 2.5rem
  display block

  .ArrowBack
    margin 0 0 1rem 0 !important
    font-size 25pt !important
    color primary-color !important

  .FormTitle
    margin 0 0 3rem 0
    font-weight 600
    color text-color

  .Minimal
    margin 0 0 1rem 0 !important

  .ForgotText
    margin 1rem 0 0 0
    font-size 12pt
    color primary-color
    text-decoration none
    display block
