.appBox
  -ms-flex 1 1 auto
  -webkit-box-flex 1
  flex 1 1 auto
  position relative
  z-index auto

  .appBoxInner
    bottom 0
    contain layout
    left 0
    position absolute
    right 0
    text-rendering optimizeLegibility
    top 0
    flexVertical(false)

    .appBoxLayers
      flexVertical(true)

      .appBoxLayer
        ms-flex-direction column
        -webkit-box-direction normal
        -webkit-box-orient vertical
        bottom 0
        display -webkit-box
        display -ms-flexbox
        display flex
        flex-direction column
        left 0
        position absolute
        right 0
        top 0

        .appBoxLayerInner
          flexHorizontal(true)
